[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qutebrowser --target 'window' https://web.whatsapp.com/
Name=WhatsApp Web
Icon=whatsapp
Categories=Utility;
