[user]
	name = Thierry Delafontaine
	email = delafontaineth@protonmail.com
[core]
	editor = nvim
[init]
	templatedir = ~/.git_template
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color "status"]
    added = cyan
    changed = red
    untracked = yellow
