vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json*
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/**
nvim/.config/nvim/spell/*.spl
nvim/.config/nvim/autoload/**
xmonad/.xmonad/**
qtile/.config/qtile/__pycache__/**
tags
gtk/.config/gtk-3.0/**
gtk/.config/gtk-2.0/**
fish/.config/fish/fish_variables
speedcrunch/.local/share/SpeedCrunch/**
systemd/.config/systemd/user/default.target.wants
gnupg/.gnupg/**
