# alacritty
# awesome
# bash
# doom
# dunst
# feh
# fish
# git
# gnupg
# gtk
gtk/.config/gtk-3.0/bookmarks
# jupyter
# kitty
# latexmk
# mpv
# nvim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugin
# picom
# qtile
qtile/.config/qtile/__pycache__/
# speedcrunch
speedcrunch/.local/share/SpeedCrunch/history.json
# spotify-tui
# starship
# systemd
systemd/.config/systemd/user/default.target.wants
# vifm
vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json*
# vim
vim/.vim/plugged
vim/.vim/autoload/plug.vim
# xmonad
xmonad/.xmonad/hie.yaml
xmonad/.xmonad/xmonad-X86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
# xorg
# zathura
# zsh
