# alacritty
# awesome
# bash
# doom
# dunst
# feh
# fish
# git
# gnupg
gnupg/.gnupg/.#*
gnupg/.gnupg/crls.d
gnupg/.gnupg/openpgp-revocs.d
gnupg/.gnupg/private-keys-v1.d
gnupg/.gnupg/pubring.kbx*
gnupg/.gnupg/random_seed
gnupg/.gnupg/sshcontrol
gnupg/.gnupg/trustdb.gpg
# gtk
gtk/.config/gtk-3.0/bookmarks
# jupyter
# kitty
# latexmk
# mpv
# nvim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugin
# papis
papis/.config/papis/scripts
# picom
# qtile
qtile/.config/qtile/__pycache__/
# speedcrunch
speedcrunch/.local/share/SpeedCrunch/history.json
# spotify-tui
spotify-tui/.config/spotify-tui/.spotify_token_cache.json
spotify-tui/.config/spotify-tui/client.yml
# starship
# systemd
systemd/.config/systemd/user/default.target.wants
# vifm
vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifminfo.json*
# vim
vim/.vim/plugged
vim/.vim/autoload/plug.vim
# xmonad
xmonad/.xmonad/hie.yaml
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
# xorg
# zathura
# zsh
