/* Colors
 * ~~~~~~ */

@define-color dark-bg #242833;
@define-color bg #2E3440;
@define-color fg #D8DEE9;
@define-color active #81A1C1;
@define-color float #3B4252;
@define-color comment #616E88;
@define-color accent #B48EAD;
@define-color error #BF616A;
@define-color warning #EBCB8B;
@define-color info #88C0D0;

/* Keyframes
 * ~~~~~~~~~ */

@keyframes blink-warning {
  70% {
    color: @fg;
  }
  to {
    color: @bg;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @fg;
  }
  to {
    color: @bg;
    background-color: @error;
  }
}

@keyframes stretch {
  70% {
    min-width: 15px;
  }
  to {
    min-width: 20px;
  }
}

/* Base styles
 * ~~~~~~~~~~~ */

/* Reset all styles */
* { border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: "VictorMono Nerd Font";
}

/* The whole bar */
window#waybar {
  background: @bg;
  color: @fg;
  font-size: 16px;
}

/* tooltips */
tooltip {
  background: @float;
  color: @fg;
  font-size: 16px;
}

/* Module groups */
.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* Each module */
#battery,
#bluetooth,
#clock,
#idle_inhibitor,
#network,
#pulseaudio,
#mode,
#tags,
#tray {
  margin-left: 6px;
  margin-right: 6px;
}

/* Module styles
 * ~~~~~~~~~~~~~ */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @error;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#bluetooth.disabled {
  color: @warning;
}

#clock {
  font-weight: bold;
}

#mode {
  color: @comment;
  margin-right: 16px;
}

#network.disconnected {
  color: @warning;
}

#pulseaudio.muted {
  color: @warning;
}

#tags button {
  color: @comment;
  font-size: 1px;
  background-color: @comment;
  margin: 10px 8px;
  padding: 0px;
  min-width: 10px;
  min-height: 0px;
  border-radius: 10px;
}

#tags button.occupied {
  background-color: @active;
}

#tags button.focused {
  background-color: @active;
  animation-name: stretch;
  animation-timing-function: linear;
  animation-duration: 0.1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#tags button.urgent {
  background-color: @error;
}

/* vim: ft=less */
