configuration {
  modi: "window,drun,ssh,combi";
  combi-modi: "window,drun,ssh";
  font: "Fira Code 12";
  width: 0;
  line-margin: 0;
  columns: 1;
  dispaly-ssh: " ";
  display-run:    " ";
  display-drun:   " ";
  display-window: " ";
  display-combi:  " ";
  show-icons:     true;
}

@theme "onedark"

/* vim:ft=css
