[Unit]
Description=Guix

[Service]
Type=simple
Environment="GUIX_LOCPATH=/home/delafthi/.guix-profile/lib/locale"
Environment="GUIX_PROFILE=/home/delafthi/.config/guix/current"
ExecStart=/bin/sh -c "source $GUIX_PROFILE/etc/profile"

[Install]
WantedBy=default.target
